<footer class="page-footer">
  <div class="container">
    <div class="row margin-bottom-none">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-2">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="<%= content_page_path %>">房東須知</a></li>
          <li><a class="grey-text text-lighten-3" href="<%= content_page_path %>">新手上路</a></li>
          <li><a class="grey-text text-lighten-3" href="<%= content_page_path %>">關於我們</a></li>
          <li><a class="grey-text text-lighten-3" href="<%= content_page_path %>">隱私權條款</a></li>
        </ul>
      </div>
      <div class="col s12">
        <div class="footer-copyright">
          <span class="grey-text text-lighten-3">© 2014 Copyright Text</span>
        </div>
      </div>
    </div>
  </div>
</footer>
