
<div class="content-page-header" style="background-image: url(<%= image_path('bg1.jpg') %>)">
  <div class="content-page-header-inner">
    <h4 class="content-page-header-title">幫助中心</h4>
    <p class="content-page-header-description">有任何問題讓我們來協助您</p>
  </div>
</div>

 <div class="container">
   <div class="row">
    <div class="col m4 l3 s12">
      <ul class="section table-of-contents">
        <li><a href="#introduction">房東義務</a></li>
        <li><a href="#structure">新手上路</a></li>
        <li><a href="#initialization">隱私權政策</a></li>
      </ul>
    </div>
    <div class="col s12 m8 l9">
      <div class="content-container">
        <h3>房東義務</h3>
        <p>我們建議房東認真考慮自己的責任。出租能帶來豐富的閱歷，但同時意味著需要承擔一定的義務。除了待客標準，以下這些方法能助您成為一個有責任心的房東。</p>
        <div class="content-container-block">
          <h4>安全</h4>
          <p><strong>緊急聯繫</strong></p>
          <p>註明當地緊急電話號碼和最近的醫院。提供您的明確緊急聯繫號碼和備用號碼，以方便房客諮詢。同時向房客明確說明，如果有疑問或問題，怎樣才能聯繫到您。</p>
        </div>
        <div class="content-container-block">
          <h4>鄰居</h4>
          <p>我該如何為我的鄰居著想？</p>

          <p>
          <strong>大廈規定：</strong><br><br>

          確保向房客傳達大廈公共區域的規定。您甚至可能要通知您的鄰居您將有房客入住，並提醒房客不要打擾您的鄰居（如不要隨意敲鄰居家的門或按門鈴讓鄰居開門）。<br><br>

          <strong>吸煙：</strong><br><br>

          如果您不允許吸煙，我們建議您張貼標誌提醒房客。如果您允許吸煙，請確保在特定地方擺放有煙灰缸。<br><br>

          <strong>泊車：</strong><br><br>

          將建築及周圍的停車規則轉述給房客。</p>


        </div>
        <h3>FAQ</h3>
        <div class="faq-block">
          <h5 class="faq-title">我在Airbnb上出租房屋需要通報誰？<i class="material-icons text-icon">add</i></h5>
          <p class="faq-answer">
            請檢查業主協會(HOA)或業主合作委員會(Co-op Board)的規定，確保裡面沒有禁止轉租或限制出租的條款。另外，請仔細閱讀您的租賃協議。如需要，請與您的房東確認。您還可以考慮在合同中添加附加條款，以消除各方的顧慮，並對各方的責任和義務進行規定。
          </p>
        </div>
        <div class="faq-block">
          <h5 class="faq-title">我在Airbnb上出租房屋需要通報誰？<i class="material-icons text-icon">add</i></h5>
          <p class="faq-answer">
            請檢查業主協會(HOA)或業主合作委員會(Co-op Board)的規定，確保裡面沒有禁止轉租或限制出租的條款。另外，請仔細閱讀您的租賃協議。如需要，請與您的房東確認。您還可以考慮在合同中添加附加條款，以消除各方的顧慮，並對各方的責任和義務進行規定。
          </p>
        </div>
        <div class="faq-block">
          <h5 class="faq-title">我在Airbnb上出租房屋需要通報誰？<i class="material-icons text-icon">add</i></h5>
          <p class="faq-answer">
            請檢查業主協會(HOA)或業主合作委員會(Co-op Board)的規定，確保裡面沒有禁止轉租或限制出租的條款。另外，請仔細閱讀您的租賃協議。如需要，請與您的房東確認。您還可以考慮在合同中添加附加條款，以消除各方的顧慮，並對各方的責任和義務進行規定。
          </p>
        </div>
      </div>
    </div>
  </div>
 </div>
