<div class="cover-photo"  style="background-image:url(<%= image_url('cover-photo.jpg') %>);">
</div>
<div class="profile-action-bar">
	<div class="container">
		<div class="profile-user-info">
			<span class="profile-user-avatar">
				<%= image_tag('avatar.jpg') %>
			</span>
			<h5 class="profile-user-name">劉政軒</h5>
		</div>
		<ul>
			<li><a href="#"><i class="material-icons text-icon">settings</i>編輯個人資料</a></li>
			<li><a href="#"><i class="material-icons text-icon">delete</i>刪除帳號</a></li>
		</ul>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col s12">
			<div class="profile-user">
				<div class="col s12">
					<div class="contact-info in-profile ">
						<form>
							<div class="col s12">
								<h4>編輯個人資料</h4>
							</div>
							<div class="col s12">
				        <div class="divider-text big-margin edit-user-divider" style="margin-top: 12px;">
				          <hr class="divider-text-left"/>基本資料<hr class="divider-text-right" />
				        </div>
							</div>
							<div class="col m6 s12">
								<p>姓氏</p>
								<input type="text" />
							</div>
							<div class="col m6 s12">
								<p>名字</p>
								<input type="text" />
							</div>
							<div class="col m6 s12">
								<p>電子郵件</p>
								<input type="text" />
							</div>
							<div class="col s12">
				        <div class="divider-text big-margin edit-user-divider">
				          <hr class="divider-text-left"/>聯絡電話<hr class="divider-text-right" />
				        </div>
							</div>
							<div class="col m6 s12">
								<p>手機 *</p>
								<input type="text" />
							</div>
							<div class="col m6 s12">
								<p>室內電話</p>
								<input type="text" />
							</div>
							<div class="col s12">
				        <div class="divider-text big-margin edit-user-divider">
				          <hr class="divider-text-left"/>通訊軟體<hr class="divider-text-right" />
				        </div>
							</div>
							<div class="col m6 s12">
								<p>LINE</p>
								<input type="text" />
							</div>
							<div class="col m6 s12">
								<p>WhatsApp</p>
								<input type="text" />
							</div>
							<div class="col s12">
				        <div class="divider-text big-margin edit-user-divider">
				          <hr class="divider-text-left"/>詳細資訊<hr class="divider-text-right" />
				        </div>
				        <textarea class="materialize-textarea"></textarea>
							</div>
							<div class="col s12">
								<div class="center-align" style="margin-top: 40px;">
									<button class="btn btn-large">儲存</button>
								</div>
							</div>
						</form>
						<div class="clear-both"></div>
					</div>
				</div>
				<div class="clear-both"></div>
			</div>
		</div>
	</div>
</div>

