<header>
	<div class="container-fluid">
		<div class="header" style="background-image:url(<%= image_url('header-bg.jpg') %>);">
			<div class="header-inner">
				<h2 class="header-title">歡迎回家</h2>
				<p class="header-description">從超過190個國家的當地人租住獨一無二的家。</p>
				<a href="#" class="btn">如何使用租客</a>
			</div>
			<section class="action-bar" id="index-search">
				<div class="container-fluid">
					<div class="search-bar index">
						<div class="row">
							<div class="col m12 s12">
								<div class="action">
									<input class="" type="text" placeholder="搜尋學校.." />
								</div>
								<div class="action">
									<select class="browser-default">
									  <option value="1">不限房屋類型</option>
									  <option value="2">Option 2</option>
									  <option value="3">Option 3</option>
									</select>
								</div>
								<div class="action">
									<select class="browser-default">
									  <option value="1">不限期限</option>
									  <option value="2">Option 2</option>
									  <option value="3">Option 3</option>
									</select>
								</div>
								<div class="submit-btn">
									<a href="<%= search_path %>" class="btn">搜尋</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</header>



<section id="index-school-list">
	<div class="container">
		<div class="row">
			<div class="col m4 s12">
				<div class="new-posts">
					<div class="new-post" style="background-image:url(<%= image_url('header-bg.jpg') %>);">
						<div class="new-post-avatar">
							<%= image_tag('avatar.jpg') %>
						</div>
						<p class="title">劉政軒 PO 的新房子</p>
						<p>萬隆 | 獨立套房</p>
					</div>
				</div>
			</div>
			<div class="col m8 s12">
				<div class="school-list-item nccu">
					<h4 class="school-name">
						政治大學
					</h4>
					<div class="school-info">

					</div>
				</div>
			</div>
			<div class="col m4 s12">
				<div class="school-list-item ntu">
					<h4 class="school-name">
						台灣大學
					</h4>
					<div class="school-info">

					</div>
				</div>
			</div>
			<div class="col m4 s12">
				<div class="school-list-item shu">
					<h4 class="school-name">
						世新大學
					</h4>
					<div class="school-info">

					</div>
				</div>
			</div>
			<div class="col m4 s12">
				<div class="school-list-item nteu">
					<h4 class="school-name">
						國北教大
					</h4>
					<div class="school-info">

					</div>
				</div>
			</div>
			<div class="col m4 s12">
				<div class="school-list-item ntust">
					<h4 class="school-name">
						台科大
					</h4>
					<div class="school-info">

					</div>
				</div>
			</div>
			<div class="col m4 s12">
				<div class="school-list-item ntnu">
					<h4 class="school-name">
						台師大
					</h4>
					<div class="school-info">

					</div>
				</div>
			</div>
			<div class="col m4 s12">
				<div class="school-list-item tmu">
					<h4 class="school-name">
						北醫大
					</h4>
					<div class="school-info">

					</div>
				</div>
			</div>
		</div>
	</div>
	<!--
	<div class="more-cta">
		<div class="more-cta-inner">
			<h5 class="white-text">喜歡我們的服務嗎？</h5>
			<a href="#" class="btn">立即註冊</a>
		</div>
	</div>
	-->
</section>
