

// --------
// 1. Landing Page
// --------

.service-introduction{
	padding: 36px 0;
	&.odd{
		background-color: #eee;
	}
	.icon{
		text-align: center;
		&.odd{
			@media screen and (min-width: 992px){
				text-align: right !important;
			}
		}
		&.even{
			@media screen and (min-width: 992px){
				text-align: left !important;
			}
		}
		img{
			max-width: 250px;
		}
	}
	.text-content{
		padding-top: 16px;
		padding-left: 24px;
		padding-right: 24px;
		@media screen and (min-width: 992px){
			max-width: 450px;
			padding-left: 12px;
			padding-right: 12px;
			&.even{
				margin-left: auto;
			}
		}
		h3{
			color: black;
			font-size: 2em;
		}
		p{
			color: #717071;
		}
	}
}
.row.service-introduction {
  margin-bottom: 0;
}
.go-login{
  background: rgb(0, 208, 173);
  padding-top: 80px !important;
  padding-bottom: 150px !important;
  text-align: center;
  margin-top: 36px;
  h4{
  	color: #fff;
  	margin-bottom: 40px;
  	font-size: 1.6em;
  }
}

// End




// --------
// 5. 手機版固定 Btn
// --------

.login-mobile-btn{
	@media screen and (max-width: 992px){
		position: fixed;
		top: 14px;
		right: 18px;
		z-index: 99999999999;
		display: none;

		a{
			padding: 6px 12px;
			background-color: #7B96A5;
			display: block;
			font-size: 12px;
			color: #fff;
			border-radius: 2px;
		}
	}
	@media screen and (min-width: 992px){
		display: none;
	}
}
.shopping-cart-mobile-btn{
	@media screen and (max-width: 992px){
		position: fixed;
		top: 12px;
		right: 18px;
		z-index: 99999999999;


		a{
			display: block;
			font-size: 24px;
			color: #666666;
			i{
				color: #666666;
				font-size: 24px !important;
			}
		}
	}
	@media screen and (min-width: 992px){
		display: none;
	}
}

// End

// --------
// 6. Pin Menu 側邊固定 menu
// --------

.pin-menu.fixed-menu{
	position: fixed;
	top: 120px;
}

.table-of-contents{
	a{
		height: 1.8em;
		line-height: 1.8em;
		font-size: 1.2em;

		&.active{
			border-left: 2px solid #7B96A5;
		}
		&:hover{
			border-left: 2px solid #7B96A5;
			opacity: 0.5;
		}
	}
}

// End

// --------
// 9. Type Form
// --------

#typeform-wrapper{
	z-index: 999999999999 !important;
	width: 100% !important;

	> img{
		width: 40px !important;
		background-color: black !important;
		right: 12px !important;
	}
}


// End


// --------
// Others
// --------


i{
	vertical-align: middle;
}
.help-btn{
  background-image: url("/images/help.png");
  background-size: 80%;
  background-position: 4px 2px;
  width: 40px !important;
  height: 40px;
  background-repeat: no-repeat;
}
.wrapper{
	min-height: 100vh;
}
.list-icon{
  display: inline-block !important;
  margin-right: 5px;
}




// ---------
// Header
// ---------

header{
	//background-image: image-url('header-bg.svg');
	background-image: image-url('bg2.jpg');
	//background-color: #7B96A5;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 600px;
	width: 100%;
	position: relative;
	overflow: hidden;

	> .header-mask{
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.3);
	}

	> .intro-1-image{
		position: absolute;
		bottom: 300px;
		top: 80px;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-ms-transform: translateX(-50%);

		> img{
			height: 100%;
			width: auto;
		}
	}

	> .header-info{
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		top: 50%;
		min-width: 260px;
		width: 100%;

		.search-bar.index{
			background-color: transparent;
			width: 100%;

		}

		> .header-order-text{
			font-size: 18px;
			color: #FFF;
			text-align: center;

			> a{
				color: #F6BF59;
			}
		}

		> .header-slogan{
			position: relative;
			color: #eee;
			color: #6B6966;
			text-align: center;



			> h2{
				//text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
				color: #FFF;
				font-size: 3rem;
				@media screen and (max-width: 600px) {
					font-size: 1.8rem;
				}
			}

			> p {
				//text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
				font-size: 1.4em;
				color: #FFF;
				@media screen and (max-width: 600px) {
					font-size: 1em;
				}

			}

		}

		> .header-call-to-action{
			position: relative;
			text-align: center;
		}
	}


}

.intro-image--mobile{
	width: 100%;
	text-align: center;
	margin-bottom: 40px;

	@media screen and (min-width: 600px) {
		display: none;
	}

	> img{
		width: 100%;
	}
}

.service{
	position: relative;
	text-align: center;
	background-color: rgba(240,240,240,.8);
	color: #464646;
	margin: 8px;
	padding: 16px 8px 24px 8px;
	min-height: 215px;

	> h4 {
		color: darken(#B4B3B3, 30%);
		text-shadow: 1px 1px 1px rgba(0,0,0,.1);
	}

	> p {
		border-bottom: 1px solid #B4B3B3;
		padding-bottom: 8px;
		margin-bottom: 8px;
	}
	> small{
		font-size: 1em;
		padding: 8px;
		text-align: center;
		display: block;
	}
}

.scroll-page-container{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	@media screen and (max-width: 600px) {
		position: relative;
		top: auto;
		left: auto;
		bottom: auto;
		right: auto;
	}
}


footer{
	display: none;
}

.service-intro-box{
	position: relative;
	width: 100%;
	overflow-x: hidden;

	&.intro-1{
		background-color: #86BDB7;

		@media screen and (max-width: 600px) {
			//background-image: url(http://phandroid.s3.amazonaws.com/wp-content/uploads/2014/06/tools.jpg);
		}
	}
	&.intro-2{
		//background-color: #EEEFF1;
		//background-color: #0079FE;
		background-color: #F98A5F;
	}
	&.intro-3{
		background-color: #86BDB7;
		//background-image: url(http://phandroid.s3.amazonaws.com/wp-content/uploads/2014/06/tools.jpg);
	}
	&.intro-4{
		//background-color: #EEEFF1;
		//background-color: #0079FE;
		background-color: #F98A5F;
	}
	&.intro-5{
		background-color: #86BDB7;
		//background-image: url(http://phandroid.s3.amazonaws.com/wp-content/uploads/2014/06/tools.jpg);
	}

	.box-image{
		opacity: 0;
		transition: opacity 2s;
		-webkit-transition: opacity 2s;
		-moz-transition: opacity 2s;
		-o-transition: opacity 2s;
		-ms-transition: opacity 2s;

		&.active{
			opacity: 1;
		}

		@media screen and (max-width: 600px) {
			transform: none !important;
			-webkit-transform: none !important;
			-moz-transform: none !important;
			-o-transform: none !important;
			-ms-transform: none !important;
			position: static !important;
			top: initial !important;
			margin-top: 36px;
			display: none;
		}

		&.intro-4{
			right: 50%;
			background: image-url('intro-4a.png')left top;
			background-size: 100% auto;
			background-position: center;
			background-repeat: no-repeat;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			left: inherit;
			width: 50%;
			height: 631px;
		}

		&.intro-3{
			background: image-url('intro-3a.png') left top;
			background-size: 100% auto;
			background-position: center;
			background-repeat: no-repeat;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			left: 45%;
			width: 55%;
			height: 630px;
		}

		&.intro-2{
			right: 50%;
			background: image-url('intro-2a.png')left top;
			background-size: 100% auto;
			background-position: center;
			background-repeat: no-repeat;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			left: inherit;
			width: 50%;
			height: 631px;
		}
		&.intro-1{
			//background: image-url('intro-1.png')left top;
			background-size: 100% auto;
			background-position: center;
			background-repeat: no-repeat;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			left: 45%;
			width: 55%;
			height: 630px;
		}

		&.intro-5{
			background: image-url('intro-5a.png') left top;
			background-size: 100% auto;
			background-position: center;
			background-repeat: no-repeat;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			left: 45%;
			width: 55%;
			height: 630px;
		}
	}
	.info{
		opacity: 0;
		visibility: hidden;
		transition: all 2s;
		-webkit-transition: all 2s;
		-moz-transition: all 2s;
		-o-transition: all 2s;
		-ms-transition: all 2s;

		@media screen and (min-width: 600px) {
	    -webkit-transition-delay: 1s; /* Safari */
	    transition-delay: 1s;
	    -moz-transition-delay: 1s;
	    -o-transition-delay: 1s;
	    -ms-transition-delay: 1s;
	  }



		@media screen and (max-width: 600px) {
			position: static !important;
			top: initial;
			transform: none !important;
			-webkit-transform: none !important;
			-moz-transform: none !important;
			-ms-transform: none !important;
			-o-transform: none !important;
			width: 100% !important;
			margin: 0 auto;
			padding: 80px 0;
		}

		&.intro-3{
			position: absolute;
			top: 50%;
			transform: translateY(-50%) translateX(-300px);
			-webkit-transform: translateY(-50%) translateX(-300px);
			-moz-transform: translateY(-50%) translateX(-300px);
			-o-transform: translateY(-50%) translateX(-300px);
			-ms-transform: translateY(-50%) translateX(-300px);
			width: 35%;
			&.active{
				opacity: 1;
				visibility: visible;
				transform: translateY(-50%) translateX(0);
				-webkit-transform: translateY(-50%) translateX(0);
				-moz-transform: translateY(-50%) translateX(0);
				-o-transform: translateY(-50%) translateX(0);
				-ms-transform: translateY(-50%) translateX(0);
			}
		}
		&.intro-2, &.intro-4{
			position: absolute;
			top: 50%;
			transform: translateY(-50%) translateX(-300px);
			-webkit-transform: translateY(-50%) translateX(-300px);
			-moz-transform: translateY(-50%) translateX(-300px);
			-o-transform: translateY(-50%) translateX(-300px);
			-ms-transform: translateY(-50%) translateX(-300px);
			width: 25%;
			left: 58%;
			&.active{
				opacity: 1;
				visibility: visible;
				transform: translateY(-50%) translateX(0);
				-webkit-transform: translateY(-50%) translateX(0);
				-moz-transform: translateY(-50%) translateX(0);
				-o-transform: translateY(-50%) translateX(0);
				-ms-transform: translateY(-50%) translateX(0);
			}
		}
		&.intro-1, &.intro-5{
			position: absolute;
			top: 50%;
			transform: translateY(-50%) translateX(-300px);
			-webkit-transform: translateY(-50%) translateX(-300px);
			-moz-transform: translateY(-50%) translateX(-300px);
			-o-transform: translateY(-50%) translateX(-300px);
			-ms-transform: translateY(-50%) translateX(-300px);
			width: 25%;
			//left: 58%;
			&.active{
				opacity: 1;
				visibility: visible;
				transform: translateY(-50%) translateX(0);
				-webkit-transform: translateY(-50%) translateX(0);
				-moz-transform: translateY(-50%) translateX(0);
				-o-transform: translateY(-50%) translateX(0);
				-ms-transform: translateY(-50%) translateX(0);
			}
		}

		> .title{

			> h3{
				margin-top: 0;
				//color: #999999;
				color: #FFFFFF;
			}
		}

		> .description{
			color: #999999;
			margin-bottom: 40px;
		}

		> p{

			> .sub-title{
				margin-bottom: 8px;
				display: block;
				font-size: 1.2em;
				//color: #7B96A5;
				color: #FFFFFF;
		    font-weight: 700;

				> i{
					color: #999999;
					margin-right: 8px;
				}
			}
			//color: #999999;
			color: #FCFCFC;
			font-size: 1.2em;
			line-height: 1.6em;
		}

	}
}

.ricoh-theta-spherical-image{
	position: absolute !important;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100% !important;
	height: 100% !important;
}

.ricoh-theta-iframe{
	position: absolute !important;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100% !important;
	height: 100% !important;
}

.scroll-page{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	@media screen and (min-width: 600px) {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		overflow: hidden;
		transition: all 2s;
		-webkit-transition: all 2s;
		-moz-transition: all 2s;
		-ms-transition: all 2s;
		-o-transition: all 2s;

		&.order-1{
			top: 0%;
		}

		&.order-2{
			top: 100%;
		}

		&.order-3{
			top: 200%;
		}

		&.order-4{
			top: 300%;
		}

		&.order-5{
			top: 400%;
		}

		&.order-6{
			top: 500%;
		}

		&.order-7{
			top: 600%;
		}
	}
}

.controll-btns{
	position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  text-align: center;
  z-index: 1000;
  background-color: rgba(0,0,0,.3);
  padding: 12px 12px 8px  12px;
  border-radius: 4px 4px 0 0;

  @media screen and (max-width: 600px) {
  	display: none;
  }
}

.controll-btn{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: 2px solid #EEE;
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin: 0 4px;

	> i {
		position: absolute;
		top: 50%;
		left: 50%;
	  transform: translate(-50%, -50%);
	  -webkit-transform: translate(-50%, -50%);
	  -moz-transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	  -o-transform: translate(-50%, -50%);
		font-size: 30px;
		color: #FFF;
	}
}

@media screen and (max-width: 600px) {
	.intro-1.info{
		position: relative !important;
		background-color: rgba(0,0,0,.4);
		margin-top: 24px;
		padding-left: 12px;
		padding-right: 12px;
	}
}

@media screen and (min-width: 600px) {

	.intro-1.info{
		padding: 24px 16px;
		background-color: rgba(0,0,0,.5);

		.title > h3{
			color: #FFF;
		}

		p{
			color: #EEE !important;
		}

		.sub-title{
			color: #FFF !important;;
		}
	}
}


.cooperating-departments{
	background-color: #666666;
	padding: 80px 0;
	text-align: center;

	h4{
		color: #fff;
		text-align: center;
		> span{
			color: #7B96A5;
		}
	}
	p{
		color: #fff;
		text-align: center;
		font-size: 1em;
	}

	.departments{
		margin-top: 48px;
	}

	.departments-list{
		> h5{
			color: #7B96A5;
			margin-bottom: 16px;
		}

		li{
			color: #f8f8f8;
		}
	}
	.departments-list.element-item{
		margin-bottom: 40px;
	}

}

.keep-mention{
	text-align: left;
	padding: 80px 0 0 0;
	background-color: #f7f8fa;

	.app-img{
		margin-bottom: -4px;
	}

	.text{
		max-width: 400px;
		margin: 120px auto 0 auto;

		@media screen and (max-width: 600px) {
			margin: 0px auto 36px auto;
			max-width: 300px;
		}

		p{
			font-size: 1em;
		}
		a{
			color: #7B96A5;
			&:hover{
				color: lighten( #7B96A5 , 15%);
			}
		}

		> .buttons{
			margin-top: 36px;
		}
	}
}

.sign-up-section{
	padding: 80px 0;
	text-align: center;
	background-color: #fff;
	@media screen and (min-width: 600px) {
		background-image: image-url('intro-6a.svg');
	}
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;


	h5{
		color: #7B96A5;
    font-size: 2em;
	}
	p{
		color: #6F6F6F;
		font-size: 1.4em;
	}
}

.facebook-container{
	position: fixed;
	right: -300px;
	width: 300px;
	height: 200px;
	text-align: center;
	z-index: 10000;
	background-color: #FFF;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;

	&:hover{
		right: 0px;
	}


	> .facebook-container-trigger{
		background-color: #3b5998;
		border-radius: 4px 0 0 4px;
		color: #FFF;
		padding: 12px;
		position: absolute;
		left: -40px;
		width: 40px;
		height: 200px;
	}
}

nav.colorgy-nav.not-on-top{
	background-color: rgba(0,0,0,.6) !important;
}

.arrow-down{
	text-align: center;
	> i{
		font-size: 2em !important;
		color: #eee;
		position: relative;
	}
}

.register-login-btn{
	position: relative;
	&:hover{
		&::before{
			border: 1px solid #7B96A5;
		}
	}

	&::before{
		position: absolute;
		content: ' ';
		width: 100px;
		height: 40px;
		border-radius: 2px;
		border: 1px solid #eee;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
	}

}
/* Isotope */
/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}
/* ---- .element-item ---- */
.grid-sizer{
  width: 18%;
}
.element-item {
  position: relative;
  overflow: hidden;
  float: left;
  width: 18%;
  height: auto;
  margin: 1%;
  padding: 0;
  background: transparent;
  color: #262524;
  opacity: 0.95;

  img{
  	-webkit-transition: transform 0.5s;
	-moz-transition: transform 0.5s;
	-ms-transition: transform 0.5s;
	-o-transition: transform 0.5s;
	transition: transform 0.5s;
  }

  &:hover img{
  	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
	transform: scale(1.15);

  }

  .element-item-infobox{
  	padding: 10px;
  	h5,h6{
  		color: #605F5F;
  	}
  	h5{
  		margin-bottom: 15px;
  	}
  	h6{
  		line-height: 20px;
  		text-align: center;
  	}
  	p{

  		border-top: 1px solid #eee;
		padding-top: 15px;
		text-align: right;
		padding-right: 15px;

		a{
			color: #605F5F;
		}
		a:hover,a:focus{
			color: rgb(174, 174, 171);
		}
  	}
  }
}

.scroll-spy-dots{
	position: fixed;
	padding: 0 12px;
  z-index: 99;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  @media screen and (max-width: 600px) {
  	display: none;
  }

	.dot{
		border: 1px solid transparent;
		padding: 6px;
		border-radius: 50%;
		height: 18px;
		width: 18px;
		position: relative;
		margin: 4px 0;
		cursor: pointer;

		&.active{
			border: 1px solid #F6BF59;

			> .dot-inner{
				opacity: 1;
			}
		}

		.dot-inner{
			position: absolute;
			top: 50%;
			left: 50%;
			height: 10px;
			width: 10px;
			border-radius: 50%;
			background: #F6BF59;
			opacity: 0.8;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
		}
	}
}

@media screen and (min-width: 1425px ){  .element-item { width: 14.6%; } .element-item.w2{ width: 23% !important; } }
@media (max-width: 1425px ) and (min-width: 800px ){ .element-item{ width: 23%; } }
@media (max-width: 800px ) and (min-width: 508px ){ .element-item{ width: 31.333%; } }
@media screen and (max-width: 508px){  .element-item{ width: 48%; } }
.element-item > * {
  margin: 0;
  padding: 0;
}

