html{
	background: #ECECEC;
	font-family: Microsoft JhengHei;
}
a{
	color: $primary-color;
}
p{
	line-height: 1.2;
	letter-spacing: 0.5px;
}
.wrapper{
	background-color: #ECECEC;
	padding-top: 47.5px;
}

.fixed-navbar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 998;
}

.brand-logo{
	height: 100%;

	> img{
		height: 100%;
	}
}

.nav-wrapper{
	padding: 0 8px;
}

.header{
	padding-top: 8px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 350px;
	position: relative;

	> .header-inner{
		position: relative;
		text-align: center;
		margin-top: 80px;

		> .header-title{
			color: #FFF;
			text-shadow: 1px 1px 2px rgba(0,0,0,.2);
		}

		> .header-description{
			color: #FFF;
			text-shadow: 1px 1px 2px rgba(0,0,0,.2);

		}
	}
}

.action-bar{
	margin-top: 80px;
}

.search-bar{
	background-color: rgba(0,0,0,.6);
	text-align: center;
	padding: 24px 8px 8px 8px;

	.action{
    display: inline-block;
    min-width: 250px;
    margin: 8px 4px;
	}

	.submit-btn{
		display: inline-block;
		margin: 8px 4px;
	}
}

.more-cta{
	padding: 36px 0 60px 0;
	background-color: #EEE;
	text-align: center;
  background-color: #4686a0;
  background-attachment: fixed,	fixed,	fixed;
  background-image: image-url("overlay2.png"), image-url("overlay3.svg"), linear-gradient(45deg, #4361c2, #4fa49a 50%, #9dc66b 95%);
  background-position: top left,	center center,	center center;
  background-size: auto,	cover,	cover;
}

footer.page-footer{
	margin-top: 0;
}

.school-list-item{
	height: 334px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	margin: 16px 0;
	border: 1px solid #EEE;

	&.ntu{
		background-image: image-url('school/ntu.jpg');
	}
	&.ntust{
		background-image: image-url('school/ntust.jpg');
	}
	&.ntnu{
		background-image: image-url('school/ntnu.gif');
	}
	&.tmu{
		background-image: image-url('school/tmu.jpg');
	}
	&.shu{
		background-image: image-url('school/shu.jpg');
	}
	&.nteu{
		background-image: image-url('school/nteu.jpg');
	}
	&.nccu{
		background-image: image-url('school/nccu.jpg');
	}


	> .school-name{
		color: #FFF;
		position: absolute;
		top: 50%;
		left: 50%;
		@include translate(-50% , -50%);
		font-size: 24px;
		text-shadow: 1px 1px 2px rgba(0,0,0,.2);

	}
}

.divider-text {
    width:100%;
    text-align:center;
}

.divider-text hr {
    margin-left:auto;
    margin-right:auto;
    width:40%;

}

.divider-text-left {
    float:left;
}

.divider-text-right {
    float:right;
}

.fb-login-btn{
	background-color: #3b5998;
	color: #FFF;
	border-radius: 2px;
	display: block;
	padding: 8px 16px;
	text-align: center;
	margin-bottom: 16px;
	cursor: pointer;
}

.login-popup{
	max-height: 85%;
	background-color: #FFF;
	padding: 0;

	@media screen and (max-width: 992px) {
		top: 0 !important;
		width: 100%;
		max-width: 100%;
		height: 100%;
		max-height: 100%;
	}

	> .modal-content{
		padding: 0;
	}

	.row {
		padding: 0;
	}

	.tab-content{
		padding: 36px 16px 0 16px;
	}

	.top-bar{
    background: #444343;
    text-align: right;

    @media screen and (min-width: 992px) {
			display: none;
    }

    #close-login-popup{
    	display: block;
    	cursor: pointer;

    	.material-icons {
    		color: #FFF;
    		font-size: 36px;
    	}
    }

	}
}

.new-posts{
	margin: 16px 0;

	.new-post{
		height: 334px;
		padding: 12px;
		text-align: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		> .new-post-avatar{
			max-width: 100px;
			margin: 12px auto;

			> img{
				border-radius: 50%;
				width: 100%;
				border: 2px solid #EEE;
			}
		}

		p {
			color: #FFF;
			text-shadow: 1px 1px 2px rgba(0,0,0,.2);
			font-size: 18px;
		}
	}
}

.nav-avatar{

	> img{
		width: 30px;
		height: 30px;
		vertical-align: middle;
		margin-right: 8px;
		border-radius: 50%;
	}
}

.white-text{
	color: #FFF;
}

.hr{
	width: 100%;
	background-color: #EEE;
	margin: 8px auto;
	height: 1px;
	border-radius: 2px;
}
.hr-md{
	width: 100%;
	background-color: #EEE;
	margin: 16px auto;
	height: 1px;
	border-radius: 2px;
}

.search-block{
	background-color: #FFF;
	margin: 16px 0 24px 0;
	padding: 24px 8px;
}

.clear-both{
	clear: both;
}

.float-right{
	float: right;
}

.text-icon{
	margin-right: 8px;
	vertical-align: middle;
}

.equipments-select{
	> p {
		display: inline-block;
		margin: 8px;
	}
}

.inline-select{
	> select{
		display: inline-block;
		max-width: 32.8%;
	}
}

.margin-bottom-none{
	margin-bottom: 0;
}

.house-item{
	background-color: #FFFFFF;
	margin-bottom: 24px;
	position: relative;

	> .favorite-btn{
		position: absolute;
		top: 8px;
		right: 8px;
		z-index: 1;
		display: block;
		cursor: pointer;

		> i{
			font-size: 36px;
			color: #FFF;
		}

		&:hover i{
			color: #F7594D;
		}
	}

	> .house-img{
		text-align: center;
		position: relative;
		overflow: hidden;
		max-height: 250px;
		background-color: #EEE;
		display: block;

		> img{
			height: 100%;
			width: auto;
		}

		> .price{
			background-color: rgba(#444 , .9);
			position: absolute;
			padding: 8px;
			left: 0;
			bottom: 0;
			color: #FFF;
			font-size: 20px;
		}
	}

	> .house-info{
		padding: 8px 16px;
		letter-spacing: 1px;
		line-height: 2;

		.house-info-icon{
			display: inline-block;
			margin-right: 4px;
			vertical-align: middle;

			> img{
				width: 24px;
				height: 24px;
			}
		}
	}
}

#search-container{
	position: fixed;
	left: 0;
	height: calc(100% - 48px);
	overflow-y: auto;
	width: 60%;

	@include transition-certain(width, 2s);

	&.map-close{
		width: 95%;
	}

}

#map-container{
	position: fixed;
	right: 0;
	height: calc(100% - 48px);
	width: 40%;

	&.map-close{
		width: 5%;
	}

	@include transition-certain(width, 2s);
}

.map-field-trigger{
	position: absolute;
  z-index: 2;
  top: 50%;
  background: #FFF;
  padding: 16px 4px;
  @include translate(0% , -50%);
  cursor: pointer;
}

.header-bar {
	background-color: #FFFFFF;
	margin-top: -10px;
	padding: 24px 0 16px 0;

	.header-bar-avatar{
		text-align: center;

		img{
			width: 60px;
			height: 60px;
			border-radius: 50%;
		}

		.header-bar-avatar-name{
			color: #606060;
		}
	}
}

.tags-container{
	margin: 16px 0;
}

.deg360{
	width: 100%;
	overflow: hidden;

	> img{
		width: 100%;
	}
}

.house-info-container--left{
	background-color: #FFFFFF;
	padding: 24px 8px;
	margin: 24px 0;
}

.house-info-container--right{
	margin-top: -0px;
	background-color: #FFFFFF;

}
.price-info{
	background-color: #989898;
	color: #FFFFFF;
	padding: 16px 16px;
	font-size: 20px;
	text-align: left;
	border-radius: 2px;
}

.contact-info{
	padding: 16px 16px;
	color: #FFF;
	text-align: left;
	border-radius: 2px;
	margin-top: 8px;
	background-color: $primary-color;

	> p{
		line-height: 2.4;
		margin: 0;
	}

	&.in-profile{
		background-color: #FFFFFF;
		color: #575a63;
	}
}

.comments-box{
	padding: 24px 16px;
	border: 1px solid #D8D9DA;
	border-radius: 2px;
	margin-top: 24px;
	margin-bottom: 24px;

}

.comment{
	background-color: #FFFFFF;
	border-bottom: 1px solid #EEE;
	padding: 16px 0 8px 0;

	.comment-avatar{
		text-align: center;

		img{
			width: 40px;
			height: 40px;
			border-radius: 50%;
			vertical-align: middle;

		}

		.comment-avatar-name{
			font-size: 18px;
			display: block;
		}

		small{
			font-size: 14px;
		}
	}

	.comment-body{
		padding: 8px;
	}
}
.house-info-title{
  margin: 12px 0;
  display: block;
  padding: 0 12px;
  font-weight: 700;
}
.house-info-content{
	margin: 12px 0;
	padding: 0 12px;
}

.house-info-table{
	background: #FFF;
  margin: 24px 0 48px 0;
}

.tabs .tab a{
	color: #FFF;
	background-color: $primary-color;

	&.active{
		color: $primary-color;
		background-color: #FFF;
	}
}

.tabs .indicator{
	display: none;
}

.post-new-container{
	background-color: #FFF;
	padding: 8px 8px 24px 8px;
	margin: 24px 0;
}
.text-center{
	text-align: center;
}
.form-title{
	margin: 32px 0 8px 0;
}

.tab-trigger-title{
	@media screen and (max-width: 800px) {
		display: none;
	}
}

.image-icon{
	margin-right: 12px;
	display: inline-block;
	vertical-align: middle;

	> img{
		width: 32px;
		height: 32px;
	}

	&.house{
		> img{
			height: 28px;
			width: 32px;
		}
	}
}

.list-icon-24{
	> img{
		width: 24px;
		height: 24px;
	}
}

@media screen and (max-width: 760px) {
	.new-post-tabs{
		display: block !important;
		height: auto !important;
		overflow-y:  auto;

		.col.s4{
			width: 33.333% !important;
		}

		.tab{
			min-width: 0;
		}
	}
}

.tab-content{
	padding: 24px 12px !important;
}

.pagination-container{
	margin-bottom: 48px;
	text-align: center;
}
.house-show-page{
	p{
		margin: 12px 0 !important;
	}
}

.house-equipment-icon{
	> img{
		width: 24px;
		height: auto;
	}

	vertical-align: middle;
	display: inline-block;
	margin-right: 8px;
}

.house-info-content{
	.col{
		padding: 0;

		p{
			margin: 0;
		}
	}
}

.cover-photo{
  position: relative;
  min-height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  &::after{
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(0,0,0,.4);
  }

}

.profile-user{
	margin-top: 12px;
}

.profile-user-avatar{
	display: inline-block;
	vertical-align: middle;
  margin-left: 12px;
  border: 2px solid #FFF;

	> img{
		width: 150px;
		height: 150px;
	}
}

.profile-user-info{
	top: -135px;
	position: absolute;
}

.profile-user-name{
  display: inline-block;
  vertical-align: middle;
  font-size: 40px;
  color: #FFF;
  margin-left: 12px;
  text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}

.profile-tab-content{
	background-color: #FFF;
	min-height: 400px;
	padding: 24px 12px !important;
}

.profile-action-bar{
	background-color: #FFF;
	padding: 12px 0;
	box-shadow: 1px 1px 2px rgba(0,0,0,.2);
	margin-bottom: 24px;
	position: relative;

	ul{
		margin: 0;
		padding: 0 12px;
		text-align: right;

		li{
			display: inline-block;
			margin-left: 8px;
		}
	}
}
