html{
	background: #ECECEC;
	font-family: Microsoft JhengHei;
}
a{
	color: $primary-color;
}
p{
	line-height: 1.2;
	letter-spacing: 0.5px;
}
.wrapper{
	background-color: #ECECEC;
	padding-top: 47.5px;
}

.btn, .btn-large{
	color: #353535;
}

.back-to-top-btn{
	position: fixed;
	bottom: 24px;
	left: 24px;
	width: 40px;
	height: 40px;
	z-index: 999;
	border: 1px solid #FFF;
	border-radius: 50%;
	cursor: pointer;
	background-color: #F6BF59;

	i{
		color: #FFF;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}
}

.fixed-navbar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 998;
}

.brand-logo{
	height: 100%;

	> img{
		height: 100%;
	}
}

.nav-wrapper{
	padding: 0 8px;
}

.header{
	padding-top: 8px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 350px;
	position: relative;

	> .header-inner{
		position: relative;
		text-align: center;
		margin-top: 80px;

		> .header-title{
			color: #FFF;
			text-shadow: 1px 1px 2px rgba(0,0,0,.2);
		}

		> .header-description{
			color: #FFF;
			text-shadow: 1px 1px 2px rgba(0,0,0,.2);

		}
	}
}

.action-bar{
	margin-top: 80px;
}

.search-bar{
	background-color: rgba(0,0,0,.6);
	text-align: center;
	padding: 24px 8px 8px 8px;

	.action{
    display: inline-block;
    min-width: 250px;
    margin: 8px 4px;
	}

	.submit-btn{
		display: inline-block;
		margin: 8px 4px;
	}
}

.more-cta{
	padding: 36px 0 60px 0;
	background-color: #EEE;
	text-align: center;
  background-color: #4686a0;
  background-attachment: fixed,	fixed,	fixed;
  background-image: image-url("overlay2.png"), image-url("overlay3.svg"), linear-gradient(45deg, #4361c2, #4fa49a 50%, #9dc66b 95%);
  background-position: top left,	center center,	center center;
  background-size: auto,	cover,	cover;
}

footer.page-footer{
	margin-top: 0;
}

.school-list-item{
	height: 334px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	margin: 16px 0;
	border: 1px solid #EEE;

	&::after{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0,0,0,.15);
		content: '';
	}

	&.ntu{
		background-image: image-url('school/ntu.jpg');
	}
	&.ntust{
		background-image: image-url('school/ntust.jpg');
	}
	&.ntnu{
		background-image: image-url('school/ntnu.gif');
	}
	&.tmu{
		background-image: image-url('school/tmu.jpg');
	}
	&.shu{
		background-image: image-url('school/shu.jpg');
	}
	&.nteu{
		background-image: image-url('school/nteu.jpg');
	}
	&.nccu{
		background-image: image-url('school/nccu.jpg');
	}


	> .school-name{
		color: #FFF;
		position: absolute;
		top: 50%;
		left: 50%;
		@include translate(-50% , -50%);
		font-size: 24px;
		text-shadow: 1px 1px 2px rgba(0,0,0,.2);
		z-index: 1;

	}
}

.divider-text {
    width:100%;
    text-align:center;
	  flex-flow: row;
	  -webkit-flex-flow: row;
	  -o-flex-flow: row;
	  -ms-flex-flow: row;
	  -moz-flex-flow: row;
	  display: flex;
	  -webkit-display: flex;
	  -o-display: flex;
	  -ms-display: flex;
	  -moz-display: flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;

    &.big-margin{
	    margin: 40px 0 24px 0;
    }
}

.divider-text hr {
    flex: 1;
    -webkit-flex: 1;
    -o-flex: 1;
    -ms-flex: 1;
    -moz-flex: 1;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ECECEC;
    margin: 1em 12px;
    padding: 0;
}

.divider-text.edit-user-divider{
	color: #809AA9;
}

.divider-text.edit-user-divider hr {
    flex: 1;
    -webkit-flex: 1;
    -o-flex: 1;
    -ms-flex: 1;
    -moz-flex: 1;
}

.divider-text-left {
    float:left;
}

.divider-text-right {
    float:right;
}

.fb-login-btn{
	background-color: #3b5998;
	color: #FFF;
	border-radius: 2px;
	display: block;
	padding: 8px 16px;
	text-align: center;
	margin-bottom: 16px;
	cursor: pointer;
}

.login-popup{
	max-height: 85%;
	background-color: #FFF;
	padding: 0;

	@media screen and (max-width: 992px) {
		top: 0 !important;
		width: 100%;
		max-width: 100%;
		height: 100%;
		max-height: 100%;
	}

	> .modal-content{
		padding: 0;
	}

	.row {
		padding: 0;
	}

	.tab-content{
		padding: 36px 16px 0 16px;
	}

	.top-bar{
    background: #444343;
    text-align: right;

    @media screen and (min-width: 992px) {
			display: none;
    }

    #close-login-popup{
    	display: block;
    	cursor: pointer;

    	.material-icons {
    		color: #FFF;
    		font-size: 36px;
    	}
    }

	}
}

.new-posts{
	margin: 16px 0;

	.new-post{
		height: 334px;
		padding: 12px;
		text-align: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;

		&::after{
			content: '';
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(0,0,0,.1);
			position: absolute;
		}

		> .new-post-avatar{
			max-width: 100px;
			margin: 24px auto 12px auto;
			position: relative;
			z-index: 1;

			> img{
				border-radius: 50%;
				width: 100%;
				border: 2px solid #EEE;
			}
		}

		p {
			color: #FFF;
			text-shadow: 1px 1px 2px rgba(0,0,0,.2);
			font-size: 18px;
			position: relative;
			z-index: 1;
		}
	}
}

.nav-avatar{

	> img{
		width: 30px;
		height: 30px;
		vertical-align: middle;
		margin-right: 8px;
		border-radius: 50%;
	}
}

.white-text{
	color: #FFF;
}

.hr{
	width: 100%;
	background-color: #EEE;
	margin: 8px auto;
	height: 1px;
	border-radius: 2px;
}
.hr-md{
	width: 100%;
	background-color: #EEE;
	margin: 16px auto;
	height: 1px;
	border-radius: 2px;
}

.search-block{
	background-color: #FFF;
	margin: 16px 0 24px 0;
	padding: 24px 8px;
}

.clear-both{
	clear: both;
}

.float-right{
	float: right;
}

.text-icon{
	margin-right: 8px;
	vertical-align: middle;
}

.equipments-select{
	> p {
		display: inline-block;
		margin: 8px;
	}
}

.inline-select{
	> select{
		display: inline-block;
		max-width: 32.8%;
	}
}

.margin-bottom-none{
	margin-bottom: 0;
}

.house-item{
	background-color: #FFFFFF;
	margin-bottom: 24px;
	position: relative;

	&.list-view{
		background-color: #FFF;

		.house-img{
			width: 50%;
			float: left;
			background-color: $secondary-color;
			max-height: 200px ;

			img{
				width: 100%;
				height: auto;
			}
		}

		.house-info{
			width: 50%;
			float: left;
		}

		.favorite-btn{
			background: #EEE;
			padding: 9px 5px 0px 5px;
			border-radius: 50%;
		}
	}

	> .favorite-btn{
		position: absolute;
		top: 8px;
		right: 8px;
		z-index: 1;
		display: block;
		cursor: pointer;

		> i{
			font-size: 36px;
			color: #FFF;
		}

		&:hover i{
			color: #F7594D;
		}
	}

	> .house-img{
		text-align: center;
		position: relative;
		overflow: hidden;
		max-height: 250px;
		background-color: #EEE;
		display: block;

		> img{
			height: 100%;
			width: auto;
		}

		> .price{
			background-color: rgba(#444 , .9);
			position: absolute;
			padding: 8px;
			left: 0;
			bottom: 0;
			color: #FFF;
			font-size: 20px;
		}
	}

	> .house-info{
		padding: 8px 16px;
		letter-spacing: 1px;
		line-height: 2;

		.house-info-icon{
			display: inline-block;
			margin-right: 4px;
			vertical-align: middle;

			> img{
				width: 24px;
				height: 24px;
			}
		}
	}
}

#search-container{
	position: fixed;
	left: 0;
	height: calc(100% - 48px);
	overflow-y: auto;
	width: 60%;

	@include transition-certain(width, 2s);

	&.map-close{
		width: 95%;
	}

}

#map-container{
	position: fixed;
	right: 0;
	height: calc(100% - 48px);
	width: 40%;

	&.map-close{
		width: 5%;
	}

	@include transition-certain(width, 2s);
}

.map-field-trigger{
	position: absolute;
  z-index: 2;
  top: 50%;
  background: #FFF;
  padding: 16px 4px;
  @include translate(0% , -50%);
  cursor: pointer;
}

.header-bar {
	background-color: #FFFFFF;
	margin-top: -10px;
	padding: 24px 0 16px 0;

	.header-bar-avatar{
		text-align: center;

		img{
			width: 60px;
			height: 60px;
			border-radius: 50%;
		}

		.header-bar-avatar-name{
			color: #606060;
		}
	}
}

.tags-container{
	margin: 16px 0;
}

.deg360{
	width: 100%;
	overflow: hidden;

	> img{
		width: 100%;
	}
}

.house-info-container--left{
	background-color: #FFFFFF;
	padding: 24px 8px;
	margin: 24px 0;
}

.house-info-container--right{
	margin-top: -0px;
	background-color: #FFFFFF;

}
.price-info{
	background-color: #989898;
	color: #FFFFFF;
	padding: 16px 16px;
	font-size: 20px;
	text-align: left;
	border-radius: 2px;
}

.contact-info{
	padding: 16px 16px;
	color: #FFF;
	text-align: left;
	border-radius: 2px;
	margin-top: 8px;
	background-color: $primary-color;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-moz-transition: all 0.3s;

	> p{
		line-height: 2.4;
		margin: 0;
	}

	&.in-profile{
		background-color: #FFFFFF;
		color: #575a63;
		margin-bottom: 24px;
	}

	&.fixed-contact-info{
		position: fixed;
		top: -100%;
		z-index: 990;

		&.active{
			top: calc(40px - 192px);

			&:hover{
				top: 40px;
			}
		}
	}

}

.comments-box{
	padding: 24px 16px;
	border: 1px solid #D8D9DA;
	border-radius: 2px;
	margin-top: 24px;
	margin-bottom: 24px;

	h5{
		padding: 0 12px;
	}

}

.comment{
	background-color: #FFFFFF;
	border-bottom: 1px solid #EEE;
	padding: 16px 0 8px 0;

	.comment-avatar{
		text-align: left;
		padding: 0 12px;

		img{
			width: 40px;
			height: 40px;
			border-radius: 50%;
			vertical-align: bottom;
			margin-right: 4px;

		}

		.comment-avatar-name{
			font-size: 24px;
			display: inline-block;
			margin-right: 4px;
		}

		small{
			font-size: 14px;
		}
	}

	.comment-body{
		padding: 0 8px;
	}
}
.house-info-title{
  margin: 12px 0;
  display: block;
  padding: 0 12px;
  font-weight: 700;
}
.house-info-content{
	margin: 12px 0;
	padding: 0 12px;
}

.house-info-table{
	background: #FFF;
  margin: 24px 0 48px 0;
}

.tabs .tab a{
	color: #FFF;
	background-color: $primary-color;

	&.active{
		color: $primary-color;
		background-color: #FFF;
	}
}

.tabs .indicator{
	display: none;
}

.post-new-container{
	background-color: #FFF;
	padding: 8px 8px 24px 8px;
	margin: 24px 0;
}
.text-center{
	text-align: center;
}
.form-title{
	margin: 32px 0 8px 0;
}

.tab-trigger-title{
	@media screen and (max-width: 800px) {
		display: none;
	}
}

.image-icon{
	margin-right: 12px;
	display: inline-block;
	vertical-align: middle;

	> img{
		width: 32px;
		height: 32px;
	}

	&.house{
		> img{
			height: 28px;
			width: 32px;
		}
	}
}

.list-icon-24{
	> img{
		width: 24px;
		height: 24px;
	}
}

@media screen and (max-width: 760px) {
	.new-post-tabs{
		display: block !important;
		height: auto !important;
		overflow-y:  auto;

		.col.s4{
			width: 33.333% !important;
		}

		.col.s6{
			width: 50% !important;
		}

		.tab{
			min-width: 0;
		}
	}
}

.tab-content{
	padding: 24px 12px !important;
}

.pagination-container{
	margin-bottom: 48px;
	text-align: center;
}
.house-show-page{
	p{
		margin: 12px 0 !important;
	}
}

.house-equipment-icon{
	> img{
		width: 24px;
		height: auto;
	}

	vertical-align: middle;
	display: inline-block;
	margin-right: 8px;
}

.house-info-content{
	.col{
		padding: 0;

		p{
			margin: 0;
		}
	}
}

.cover-photo{
  position: relative;
  min-height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  &::after{
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(0,0,0,.4);
  }

}


.profile-user-avatar{
	display: inline-block;
	vertical-align: middle;
  margin-left: 12px;
  border: 2px solid #FFF;

	> img{
		width: 150px;
		height: 150px;
	}
}

.profile-user-info{
	top: -135px;
	position: absolute;
}

.profile-user-name{
  display: inline-block;
  vertical-align: middle;
  font-size: 40px;
  color: #FFF;
  margin-left: 12px;
  text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}

.profile-tab-content{
	background-color: #FFF;
	min-height: 400px;
	padding: 24px 12px !important;
}

.profile-action-bar{
	background-color: #FFF;
	padding: 12px 0;
	box-shadow: 1px 1px 2px rgba(0,0,0,.2);
	margin-bottom: 24px;
	position: relative;

	ul{
		margin: 0;
		padding: 0 12px;
		text-align: right;

		li{
			display: inline-block;
			margin-left: 8px;
		}
	}
}

.outline-tag{
	border-radius: 12px;
	padding: 4px 8px;
	background-color: #F95A1D;
	color: #FFF;
	font-weight: 700;
	margin: 2px;
	display: inline-block;

	&.secondary-color{
		color: #616868;
		background-color: $secondary-color;
	}
}

.btn-bar{
	padding: 0 12px;

	&.align-right{
		text-align: right;
	}
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
	background-color: #FFF;
	border: 1px solid #c5c5c5;
	border-radius: 4px;
	padding: 0 8px;
	color: #575a63;
	margin: 0px;
	width: calc(100% - 12px);

	&:focus{
		border: 1px solid $secondary-color !important;
		box-shadow: none !important;
	}
}
.datepicker{
	cursor: pointer;
}

.search-result-display-trigger-bar{
	padding-bottom: 24px;
	text-align: right;

	.search-result-display-trigger{
		display: inline-block;
		border-radius: 50%;

		&.active{
			background-color: $secondary-color;
			padding: 6px 5px 0 4px;

			> .material-icons{
				color: #FFF;
			}
		}
	}

	.material-icons{
		font-size: 30px;
	}
}

.content-page-header{
	min-height: 150px;
	padding: 24px 0;
	text-align: center;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 24px;
  border-bottom: 16px solid #F3CE89;

	&::after{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba($primary-color, .3);
		content: '';
	}

	.content-page-header-title{
		color: #FFF;
		position: relative;
		z-index: 1;
		text-shadow: 1px 2px 3px rgba(0,0,0,.5);
	}

	.content-page-header-description{
		color: #FFF;
		position: relative;
		z-index: 1;
		text-shadow: 1px 2px 3px rgba(0,0,0,.5);

	}
}


.content-container-block{
	background-color: #FFF;
	padding: 12px 12px;
	border: 1px solid #C3C3C3;
	border-radius: 2px;
	margin: 24px 0;
}

strong{
	font-weight: 700;
	font-size: 1.3em;
}

.faq-block{

	margin: 24px 0;

	&.active .faq-title .material-icons{
		transform: rotate(135deg);
		-webkit-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
	}

	.faq-title{
		border-bottom: 1px solid #999;
    padding-bottom: 12px;
    padding-right: 40px;
    position: relative;
    padding-top: 4px;
    cursor: pointer;
    font-size: 20px;

    .material-icons{
	    font-size: 32px;
	    position: absolute;
	    right: 0;
	    top: 0;
	    transition: transform 0.5s;
	    -webkit-transition: transform 0.5s;
	    -o-transition: transform 0.5s;
	    -moz-transition: transform 0.5s;
	    -ms-transition: transform 0.5s;
    }

    &:hover{
    	opacity: 0.5;
    }
	}

	.faq-answer{
		display: none;
		line-height: 28px;
		letter-spacing: 1px;
	}
}

.materialize-textarea{
	min-height: 120px !important;
}

.form-container{
	margin: 24px 0;
}

.padding-none{
	padding: 0 !important;
}

.roommates-bar-image-icon{
	> img{
		height: 24px !important;
		width: 24px !important;
	}
}

.hide-block{
	display: none;
}

.rooms-table{
	input[type="text"]{
		max-width: 100px;
	}
	input[type="number"]{
		max-width: 80px;
	}
	input[type="date"]{
		max-width: 120px;
	}
}
div#amenity .col.m3.s6 {
    max-width: 150px;
}

.search-bar.index{
	@media screen and (min-width: 992px) {
		.action{
			margin: 8px 0;
			min-width: 150px;

			&.text-action{

			}

			&:nth-child(1){
				min-width: 400px;
				input{
			    height: 42.7px;
				}
			}

			&:nth-child(2){
				margin-left: 2px;
			}

			&:nth-child(3){
				margin-right: -4px;
		    margin-left: -4px;
			}
		}

		input{
			border-radius: 0;
		}

		select{
			-webkit-appearance: none;
			border-radius: 0;
			background-color: #FFF;
		}

		.submit-btn {
			margin: 0;

			.btn{
				border-radius: 0px 2px 2px 0;
		    height: 44.7px;
		    line-height: 44.7px;
			}
		}
	}
}
textarea.materialize-textarea{
	padding: 8px;
}
